/* fontawesome cdn link */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');

/* google font cdn link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$--main-color:#ffdd95;
$--black:#222;
$--light-black:#1a1a1a;
$--bg-color:#0d0d0d;
$--white:#fff;
$--light-white:#aaa;

*{
    box-sizing: border-box;
    padding: 0; margin: 0;
    text-decoration: none;
    outline: none; border: none;
    transition: .2s all linear;
    font-family: "Poppins", sans-serif;
}

html{
    font-size: 62.5%;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: .8rem;
}

::-webkit-scrollbar-thumb{
    background-color: $--main-color;
}

::-webkit-scrollbar-track{
    background-color: none;
}

body{
    background-color: $--bg-color;
}

section{
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 0.6rem 1.6rem;
    font-size: 1.8rem;
    color: $--black;
    background-color: $--main-color;
    border-radius: 0.5rem;
    cursor: pointer;

    &:hover{
        background-color: $--white;
    }

    i{
        margin-right: 0.5rem;
    }
}

.header{
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1000;

    &.active{
        background-color: rgba(0,0,0, 0.8);
        backdrop-filter: blur(4px);
    }

    .flex{
        display: flex;
        align-items: center;
        
        .logo{
            margin-right: auto;

            a{
                font-size: 2.5rem;
                color: $--white;
                font-weight: bold;
                font-style: italic;
            }
        }

        .search-form{
            display: flex;
            align-items: center;
            gap: 1rem;

            .search-bar{
                background-color: $--light-black;
                border-radius: .5rem;
                padding: 1rem 1.5rem;
                display: flex;
                align-items: center;
                gap: 1rem;
                width: 50rem;

                input{
                    width: 100%;
                    background: none;
                    font-size: 1.8rem;
                    color: $--white;

                    &::--webkit-search-cancel-button{
                        appearance: none;
                    }
                }

                label{
                    font-size: 2rem;
                    color: $--white;
                    cursor: pointer;

                    &:hover{
                        color: $--main-color;
                    }
                }
            }

            a{
                display: block;
                font-size: 2rem;
                text-align: center;
                height: 4rem;
                width: 4.5rem;
                line-height: 4rem;
                border-radius: 0.5rem;
                color: $--white;
                background-color: $--light-black;

                &:hover{
                    background-color: $--main-color;
                    color: $--black;
                }
            }
        }

        .btn{
            margin-top: 0;
            margin-left: auto;
        }
    }
}

.side-bar{
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 1100;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    display: none;

    &.active{
        display: block;
    }

    .navbar{
        height: 100%;
        width: 35rem;
        background-color: rgba(0,0,0,0.8);
        padding: 2rem;
        overflow-y: scroll;
        animation: slide-in 0.2s cubic-bezier(.32,.85,.21,1.26);

        #close-btn{
            margin-bottom: 2rem;
            padding: 1rem 2rem;
            border: 0.1rem solid #555;
            border-radius: 5rem;
            display: inline-block;
            color: $--white;
            cursor: pointer;
            font-size: 1.8rem;

            i{
                margin-right: 0.5rem;
            }
        
            &:hover{
                background-color: $--white;
                color: $--black;

                i{
                    margin-right: 1rem;
                }
            }
        }
        
        a{
            display: block;
            padding: 0.6rem 0;
            font-size: 1.6rem;
            color: $--main-color;

            &:hover{
                color: $--white;
            }
        }

        .title{
            background-color: $--light-black;
            color: $--white;
            font-size: 2rem;
            border-radius: 0.5rem;
            padding: 0.8rem 0;
            text-align: center;
            margin: 1rem 0;
        }

        .row{
            column-count: 2;
            column-gap: 2rem;
        }
    }
}

.hero{
    .slide{
        position: relative;
        z-index: 0;

        &::before{
            content: '';
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            background: radial-gradient(circle at 100% 50%, transparent 30%, rgba(0,0,0,0.9) 60%);
            z-index: -1;
        }

        .content{
            min-height: 100vh;
            display: flex;
            align-items: center;

            span{
                font-size: 2rem;
                color: $--main-color;
            }

            h3{
                margin-top: 0.5rem;
                margin-bottom: 1.5rem;
                font-size: clamp(2rem, 5rem, 7rem);
                line-height: 1.2;
                max-width: 50rem;
                color: $--white;
            }

            .flex{
                display: flex;
                gap: 1.5rem;

                p{
                    font-size: 1.8rem;
                    color: $--light-white;

                    i{
                        padding-right: 0.8rem;
                        color: $--white;
                    }
                }
            }

            .buttons{
                margin: 2rem 0;
            }
        }
    }
}

@keyframes slide-in {
    from{
        opacity: 0;
        transform: translateX(-10rem);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

#menu-btn{
    font-size: 2.5rem;
    color: $--main-color;
    margin-right: 1rem;
    cursor: pointer;
}

#search-toggler{
    height: 3.5rem;
    width: 4.5rem;
    line-height: 3.5rem;
    font-size: 2rem;
    color: $--white;
    background-color: $--light-black;
    border-radius: 0.5rem;
    margin-left: 1rem;
    text-align: center;
    display: none;
}

.footer{
    background: $--black;

    .list{
        h3{
            color: $--white;
            font-size: 3rem;
        }

        p{
            font-size: 1.4rem;
            line-height: 1.6;
            color: $--light-white;
            padding: 0.5rem 0;
        }

        .list-links{
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            margin: 1rem 0;
            padding-top: 1rem;

            a{
                padding: 0.5rem 1rem;
                font-size: 2rem;
                color: $--light-white;
                background-color: $--bg-color;
                border-radius: 0.5rem;

                &:hover{
                    background-color: $--main-color;
                    color: $--black;
                }
            }
        }
    }

    .rows{
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
        align-items: center;
        gap: 2rem;

        .extra-links{
            a{
                margin-right: 1.5rem;
                font-size: 1.8rem;
                color: $--light-white;
                display: inline-block;

                &:hover{
                    color: $--white;
                }
            }
        }

        .share{
            a{
                font-size: 2rem;
                height: 4rem;
                width: 4.5rem;
                line-height: 4rem;
                border-radius: .5rem;
                background-color: $--light-black;
                color: $--light-white;
                text-align: center;
                margin-left: 0.5rem;

                &:hover{
                    background-color: $--main-color;
                    color: $--black;
                }
            }
        }
    }
}


/* media querires */
@media (max-width:1200px){
    html{
        font-size: 55%;
    }
}

@media (max-width:991px){
    #search-toggler{
        display: inline-block;
    }

    .header{
        .flex{
            .search-form{
                position: absolute;
                top: calc(100% - .1rem); left: 0; right: 0;
                background-color: $--bg-color;
                border-top: 0.1rem solid rgba(255,255,255,0.2);
                padding: 1.5rem;
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

                &.active{
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                }

                .search-bar{
                    width: 100%;
                }
            }
        }
    }

    .footer{
        .list{
            text-align: center;

            .list-links{
                justify-content: center;
            }
        }

        .row{
            flex-flow: column;
            text-align: center;

            .extra-links{
                a{
                    padding: 1rem;
                }
            }
        }
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
}